# 최대공약수와 최소공배수

문제 설명

- 두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, 

- 배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환. 

- 예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환

![image.png]()

In [ ]:
n = 18
m = 15

In [ ]:
max(n,m) % min(n,m) == 0

True

In [ ]:
16  18

In [ ]:
def solution(n, m):
    answer = []
    # 최대 공약수 구하기
    for i in range(1,m if m >= n else n) :
        if n % i == 0 and m % i == 0 :
            max = i
    answer.append(max)
    # 최소 공배수 구하기
    min = (m * n) // max
    answer.append(min)
    return answer

In [ ]:
solution(n,m)

[3, 90]